# Item-Based Collaborative Filtering

As before, we'll start by importing the MovieLens 100K data set into a pandas DataFrame:

In [2]:
import pandas as pd

r_cols = ['user_id', 'movie_id', 'rating']
ratings = pd.read_csv('D:/7.DataScience/DataScience-Python3/ml-100k/u.data', sep='\t', names=r_cols, usecols=range(3), encoding="ISO-8859-1")

m_cols = ['movie_id', 'title']
movies = pd.read_csv('D:/7.DataScience/DataScience-Python3/ml-100k/u.item', sep='|', names=m_cols, usecols=range(2), encoding="ISO-8859-1")

ratings = pd.merge(movies, ratings)

ratings.head()

   movie_id             title  user_id  rating
0         1  Toy Story (1995)      308       4
1         1  Toy Story (1995)      287       5
2         1  Toy Story (1995)      148       4
3         1  Toy Story (1995)      280       4
4         1  Toy Story (1995)       66       3

Now we'll pivot this table to construct a nice matrix of users and the movies they rated. NaN indicates missing data, or movies that a given user did not watch:

In [3]:
userRatings = ratings.pivot_table(index=['user_id'],columns=['title'],values='rating')
userRatings.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Now the magic happens - pandas has a built-in corr() method that will compute a correlation score for every column pair in the matrix! This gives us a correlation score between every pair of movies (where at least one user rated both movies - otherwise NaN's will show up.) That's amazing!

In [4]:
corrMatrix = userRatings.corr()
corrMatrix.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),1.0,NaN,-1.000000,-0.500000,-0.500000,0.522233,NaN,-0.426401,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-900 (1994),NaN,1.0,NaN,NaN,NaN,NaN,NaN,-0.981981,NaN,NaN,...,NaN,NaN,NaN,-0.944911,NaN,NaN,NaN,NaN,NaN,NaN
101 Dalmatians (1996),-1.0,NaN,1.000000,-0.049890,0.269191,0.048973,0.266928,-0.043407,NaN,0.111111,...,NaN,-1.000000,NaN,0.158840,0.119234,0.680414,0.000000,0.707107,NaN,NaN
12 Angry Men (1957),-0.5,NaN,-0.049890,1.000000,0.666667,0.256625,0.274772,0.178848,NaN,0.457176,...,NaN,NaN,NaN,0.096546,0.068944,-0.361961,0.144338,1.000000,1.0,NaN
187 (1997),-0.5,NaN,0.269191,0.666667,1.000000,0.596644,NaN,-0.554700,NaN,1.000000,...,NaN,0.866025,NaN,0.455233,-0.500000,0.500000,0.475327,NaN,NaN,NaN

However, we want to avoid spurious results that happened from just a handful of users that happened to rate the same pair of movies. In order to restrict our results to movies that lots of people rated together - and also give us more popular results that are more easily recongnizable - we'll use the min_periods argument to throw out results where fewer than 100 users rated a given movie pair:

In [5]:
corrMatrix = userRatings.corr(method='pearson', min_periods=100)
corrMatrix.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-900 (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101 Dalmatians (1996),NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12 Angry Men (1957),NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187 (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Now let's produce some movie recommendations for user ID 0, who I manually added to the data set as a test case. This guy really likes Star Wars and The Empire Strikes Back, but hated Gone with the Wind. I'll extract his ratings from the userRatings DataFrame, and use dropna() to get rid of missing data (leaving me only with a Series of the movies I actually rated:)

In [6]:
myRatings = userRatings.loc[0].dropna()
myRatings

title
Empire Strikes Back, The (1980)    5.0
Gone with the Wind (1939)          1.0
Star Wars (1977)                   5.0
Name: 0, dtype: float64

Now, let's go through each movie I rated one at a time, and build up a list of possible recommendations based on the movies similar to the ones I rated.

So for each movie I rated, I'll retrieve the list of similar movies from our correlation matrix. I'll then scale those correlation scores by how well I rated the movie they are similar to, so movies similar to ones I liked count more than movies similar to ones I hated:

In [7]:
simCandidates = pd.Series()
for i in range(0, len(myRatings.index)):
    print ("Adding sims for " + myRatings.index[i] + "...")
    # Retrieve similar movies to this one that I rated
    sims = corrMatrix[myRatings.index[i]].dropna()
    # Now scale its similarity by how well I rated this movie
    sims = sims.map(lambda x: x * myRatings[i])
    # Add the score to the list of similarity candidates
    simCandidates = simCandidates.append(sims)
    
#Glance at our results so far:
print ("sorting...")
simCandidates.sort_values(inplace = True, ascending = False)
print (simCandidates.head(10))

Adding sims for Empire Strikes Back, The (1980)...
Adding sims for Gone with the Wind (1939)...
Adding sims for Star Wars (1977)...
sorting...
Empire Strikes Back, The (1980)                       5.000000
Star Wars (1977)                                      5.000000
Empire Strikes Back, The (1980)                       3.741763
Star Wars (1977)                                      3.741763
Return of the Jedi (1983)                             3.606146
Return of the Jedi (1983)                             3.362779
Raiders of the Lost Ark (1981)                        2.693297
Raiders of the Lost Ark (1981)                        2.680586
Austin Powers: International Man of Mystery (1997)    1.887164
Sting, The (1973)                                     1.837692
dtype: float64

This is starting to look like something useful! Note that some of the same movies came up more than once, because they were similar to more than one movie I rated. We'll use groupby() to add together the scores from movies that show up more than once, so they'll count more:

In [8]:
simCandidates = simCandidates.groupby(simCandidates.index).sum()

In [9]:
simCandidates.sort_values(inplace = True, ascending = False)
simCandidates.head(10)

Empire Strikes Back, The (1980)              8.877450
Star Wars (1977)                             8.870971
Return of the Jedi (1983)                    7.178172
Raiders of the Lost Ark (1981)               5.519700
Indiana Jones and the Last Crusade (1989)    3.488028
Bridge on the River Kwai, The (1957)         3.366616
Back to the Future (1985)                    3.357941
Sting, The (1973)                            3.329843
Cinderella (1950)                            3.245412
Field of Dreams (1989)                       3.222311
dtype: float64

The last thing we have to do is filter out movies I've already rated, as recommending a movie I've already watched isn't helpful:

In [10]:
filteredSims = simCandidates.drop(myRatings.index)
filteredSims.head(10)

Return of the Jedi (1983)                    7.178172
Raiders of the Lost Ark (1981)               5.519700
Indiana Jones and the Last Crusade (1989)    3.488028
Bridge on the River Kwai, The (1957)         3.366616
Back to the Future (1985)                    3.357941
Sting, The (1973)                            3.329843
Cinderella (1950)                            3.245412
Field of Dreams (1989)                       3.222311
Wizard of Oz, The (1939)                     3.200268
Dumbo (1941)                                 2.981645
dtype: float64

There we have it!

## Exercise

Can you improve on these results? Perhaps a different method or min_periods value on the correlation computation would produce more interesting results.

Also, it looks like some movies similar to Gone with the Wind - which I hated - made it through to the final list of recommendations. Perhaps movies similar to ones the user rated poorly should actually be penalized, instead of just scaled down?

There are also probably some outliers in the user rating data set - some users may have rated a huge amount of movies and have a disporportionate effect on the results. Go back to earlier lectures to learn how to identify these outliers, and see if removing them improves things.

For an even bigger project: we're evaluating the result qualitatively here, but we could actually apply train/test and measure our ability to predict user ratings for movies they've already watched. Whether that's actually a measure of a "good" recommendation is debatable, though!

In [11]:
corrMatrix2 = userRatings.corr(method='spearman', min_periods=100)
corrMatrix2.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-900 (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101 Dalmatians (1996),NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12 Angry Men (1957),NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187 (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
myRatings2 = userRatings.loc[100].dropna()
myRatings2

title
Air Force One (1997)                   4.0
Amistad (1997)                         4.0
Anna Karenina (1997)                   3.0
Apostle, The (1997)                    4.0
Apt Pupil (1998)                       5.0
As Good As It Gets (1997)              5.0
Big Bang Theory, The (1994)            4.0
Boogie Nights (1997)                   3.0
Career Girls (1997)                    1.0
Chairman of the Board (1998)           1.0
Chasing Amy (1997)                     3.0
Conspiracy Theory (1997)               4.0
Contact (1997)                         4.0
Dante's Peak (1997)                    3.0
Dark City (1998)                       4.0
Desperate Measures (1998)              3.0
English Patient, The (1996)            3.0
Eve's Bayou (1997)                     2.0
Evita (1996)                           3.0
Flubber (1997)                         2.0
Full Monty, The (1997)                 4.0
Full Speed (1996)                      2.0
G.I. Jane (1997)                       3.0
Game, The (1997)                       3.0
Gattaca (1997)                         3.0
Good Will Hunting (1997)               4.0
Great Expectations (1998)              3.0
Half Baked (1998)                      1.0
Hard Rain (1998)                       3.0
Jackal, The (1997)                     3.0
Jackie Brown (1997)                    3.0
Kull the Conqueror (1997)              2.0
Kundun (1997)                          4.0
L.A. Confidential (1997)               4.0
Liar Liar (1997)                       4.0
Life Less Ordinary, A (1997)           3.0
Man Who Knew Too Little, The (1997)    3.0
Money Talks (1997)                     1.0
Mother (1996)                          1.0
Nénette et Boni (1996)                 3.0
Other Voices, Other Rooms (1997)       3.0
Peacemaker, The (1997)                 4.0
Phantoms (1998)                        2.0
Postman, The (1997)                    4.0
Rainmaker, The (1997)                  3.0
Replacement Killers, The (1998)        4.0
Rosewood (1997)                        2.0
Scream (1996)                          2.0
Scream 2 (1997)                        2.0
Seven Years in Tibet (1997)            4.0
Soul Food (1997)                       1.0
Sphere (1998)                          4.0
Starship Troopers (1997)               3.0
Titanic (1997)                         5.0
Tomorrow Never Dies (1997)             4.0
Twisted (1996)                         3.0
Volcano (1997)                         3.0
Wag the Dog (1997)                     4.0
Wedding Singer, The (1998)             2.0
Name: 100, dtype: float64

In [13]:
simCandidates2 = pd.Series()
for i in range(0, len(myRatings2.index)):
    print("Adding similar for ", myRatings2.index[i], "...")
    sims2 = corrMatrix2[myRatings2.index[i]].dropna()
    sims2 = sims2.map(lambda x:x * myRatings2[i])
    simCandidates2 = simCandidates2.append(sims2)
print(len(simCandidates2), "movies added")
print("Sorting ...")
simCandidates2.sort_values(inplace=True, ascending=False)
for j in range(len(simCandidates2)):
    if(simCandidates2[j] >= 4):
        print(simCandidates2.index[j], "| Rating = ",simCandidates2[j])

Adding similar for  Air Force One (1997) ...
Adding similar for  Amistad (1997) ...
Adding similar for  Anna Karenina (1997) ...
Adding similar for  Apostle, The (1997) ...
Adding similar for  Apt Pupil (1998) ...
Adding similar for  As Good As It Gets (1997) ...
Adding similar for  Big Bang Theory, The (1994) ...
Adding similar for  Boogie Nights (1997) ...
Adding similar for  Career Girls (1997) ...
Adding similar for  Chairman of the Board (1998) ...
Adding similar for  Chasing Amy (1997) ...
Adding similar for  Conspiracy Theory (1997) ...
Adding similar for  Contact (1997) ...
Adding similar for  Dante's Peak (1997) ...
Adding similar for  Dark City (1998) ...
Adding similar for  Desperate Measures (1998) ...
Adding similar for  English Patient, The (1996) ...
Adding similar for  Eve's Bayou (1997) ...
Adding similar for  Evita (1996) ...
Adding similar for  Flubber (1997) ...
Adding similar for  Full Monty, The (1997) ...
Adding similar for  Full Speed (1996) ...
Adding similar for  G.I. Jane (1997) ...
Adding similar for  Game, The (1997) ...
Adding similar for  Gattaca (1997) ...
Adding similar for  Good Will Hunting (1997) ...
Adding similar for  Great Expectations (1998) ...
Adding similar for  Half Baked (1998) ...
Adding similar for  Hard Rain (1998) ...
Adding similar for  Jackal, The (1997) ...
Adding similar for  Jackie Brown (1997) ...
Adding similar for  Kull the Conqueror (1997) ...
Adding similar for  Kundun (1997) ...
Adding similar for  L.A. Confidential (1997) ...
Adding similar for  Liar Liar (1997) ...
Adding similar for  Life Less Ordinary, A (1997) ...
Adding similar for  Man Who Knew Too Little, The (1997) ...
Adding similar for  Money Talks (1997) ...
Adding similar for  Mother (1996) ...
Adding similar for  Nénette et Boni (1996) ...
Adding similar for  Other Voices, Other Rooms (1997) ...
Adding similar for  Peacemaker, The (1997) ...
Adding similar for  Phantoms (1998) ...
Adding similar for  Postman, The (1997) ...
Adding similar for  Rainmaker, The (1997) ...
Adding similar for  Replacement Killers, The (1998) ...
Adding similar for  Rosewood (1997) ...
Adding similar for  Scream (1996) ...
Adding similar for  Scream 2 (1997) ...
Adding similar for  Seven Years in Tibet (1997) ...
Adding similar for  Soul Food (1997) ...
Adding similar for  Sphere (1998) ...
Adding similar for  Starship Troopers (1997) ...
Adding similar for  Titanic (1997) ...
Adding similar for  Tomorrow Never Dies (1997) ...
Adding similar for  Twisted (1996) ...
Adding similar for  Volcano (1997) ...
Adding similar for  Wag the Dog (1997) ...
Adding similar for  Wedding Singer, The (1998) ...
1109 movies added
Sorting ...
Apt Pupil (1998) | Rating =  5.0
As Good As It Gets (1997) | Rating =  5.0
Titanic (1997) | Rating =  5.0
Wag the Dog (1997) | Rating =  4.0
Tomorrow Never Dies (1997) | Rating =  4.0
Amistad (1997) | Rating =  4.0
Conspiracy Theory (1997) | Rating =  4.0
Contact (1997) | Rating =  4.0
Full Monty, The (1997) | Rating =  4.0
Good Will Hunting (1997) | Rating =  4.0
L.A. Confidential (1997) | Rating =  4.0
Liar Liar (1997) | Rating =  4.0
Peacemaker, The (1997) | Rating =  4.0
Seven Years in Tibet (1997) | Rating =  4.0
Air Force One (1997) | Rating =  4.0

In [14]:
simCandidates2 = simCandidates2.groupby(simCandidates2.index).sum()
simCandidates2.sort_values(inplace=True, ascending=False)
simCandidates2.head(20)

Air Force One (1997)               19.154904
Titanic (1997)                     16.202535
Liar Liar (1997)                   15.096780
Conspiracy Theory (1997)           14.523379
Good Will Hunting (1997)           14.031394
Contact (1997)                     12.955731
Independence Day (ID4) (1996)      12.913024
Game, The (1997)                   12.508720
English Patient, The (1996)        12.335691
Dante's Peak (1997)                12.201964
Volcano (1997)                     12.059653
G.I. Jane (1997)                   11.658354
Saint, The (1997)                  11.351468
L.A. Confidential (1997)           10.964604
Rock, The (1996)                   10.882433
Return of the Jedi (1983)          10.399094
Scream (1996)                      10.017850
Toy Story (1995)                    9.625620
Murder at 1600 (1997)               9.563984
Star Trek: First Contact (1996)     9.305534
dtype: float64

In [15]:
filteredsim2 = simCandidates2.drop(myRatings2)

ValueError: labels [ 4.  4.  3.  4.  5.  5.  4.  3.  1.  1.  3.  4.  4.  3.  4.  3.  3.  2.
  3.  2.  4.  2.  3.  3.  3.  4.  3.  1.  3.  3.  3.  2.  4.  4.  4.  3.
  3.  1.  1.  3.  3.  4.  2.  4.  3.  4.  2.  2.  2.  4.  1.  4.  3.  5.
  4.  3.  3.  4.  2.] not contained in axis